p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .text-tahoma {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .xmas-ad-title {
    font-family: Arial;
    font-size: 27px;
    font-weight: bold;
    margin-top: 25px;
  }

  .xmas-ad-sale {
    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    color: rgb(232, 59, 59);
    margin-top: 7px;
    margin-bottom: 25px;
  }

  .course-title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
  }

  .course-prog-level {
    font-family: Verdana;
    color: grey;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .course-overview {
    font-family: Verdana;
    font-size: 15px;
    width: 280px;
    margin-bottom: 20px;
  }

  .course-btn {
    font-family: Verdana;
    background-color: rgb(52, 129, 35);
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-bottom: 20px;
  }

  .course-btn:hover {
    cursor: pointer;
  }

  .apple-ad-title {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .apple-ad-descr {
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
  }

  .apple-ad-link {
    font-family: Arial;
    color: rgb(26, 83, 158);
    text-align: center;
  }

  .apple-ad-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }